# Preprocessing the csv file:

## Importing libraries:

In [45]:
import pandas as pd
import numpy as np
import matplotlib as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras.callbacks import EarlyStopping

## Reading the data

In [2]:
data = pd.read_csv('train.csv')
data

,user_uuid,restaurant_uuid,discounted,area,nOrders,cuisine,restaurant_features,Ratings
0,4f0181917069f1bf5259c04f14a944c49d461bab,bf5ee7c8457db4d32da6633baf7a047115d76af4,0,Heliopolis,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,5
1,06c7a3629566f04e19611981d0fb30dabe8d8daa,a8f1c42a5b27f032bbd69821b3d9941939db1ecf,0,Haram,1,['Burgers' 'Sandwiches' 'Fast Food'],['No Smoking Area' 'Outdoor' 'WiFi' 'Kids-Frie...,4
2,966acbc0eaf5c2cda02a242ec9caf75f98119ef9,ef29eff86405a92b1b547b32e845497694f450c6,0,Maadi,3,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Khorogat Iftar' 'Catering'],4
3,a910926f38c18c2e00a338c7d2f6e03ee78ea7a4,66ae2fbb6d1dfc1d3b07a68839db5da163eabe68,0,Faisal,1,['Pizza' 'Fast Food'],['24 hrs'],1
4,aa25b862b3f7fbd71425170343c53dcd93ec10c9,ef29eff86405a92b1b547b32e845497694f450c6,0,Maadi,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Khorogat Iftar' 'Catering'],4
...,...,...,...,...,...,...,...,...
79390,03406503f7701dc5fde1887170f13aac4d75d333,c2e51bf525d2b2c7a33c3d8ee017914c6400e975,0,Nasr City,3,['Egyptian' 'Fast Food'],['No Smoking Area'],5
79391,da8d4dbcf05a79f452f24494e4375f0c768a0d13,5f05a1ca558b36c593f2ab9f552f7fadbed9c383,0,Heliopolis,1,['Asian' 'Japanese' 'Sushi' 'Steaks'],['No Smoking Area' 'Casual Dining' 'Outdoor' '...,5
79392,0fcd18e59f31106fd855b6cf340bf00bde6d6f99,c2e51bf525d2b2c7a33c3d8ee017914c6400e975,1,Maadi,2,['Egyptian' 'Fast Food'],['No Smoking Area'],5
79393,cf77a30aa4de6e8dfc940ddea222a84766de925f,bf5ee7c8457db4d32da6633baf7a047115d76af4,0,New Cairo,3,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,4
79394,89f5477912a0101d0a58a1c21efbc03577f7016c,bf5ee7c8457db4d32da6633baf7a047115d76af4,0,Mohandessin,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,5

## Make the data ready for the model:
### 1) Drop (user_uuid , restaurant_features) columns -*Useless*- :

In [3]:
data = data.drop('user_uuid' , axis=1)
data = data.drop('restaurant_uuid' , axis=1)
data

,discounted,area,nOrders,cuisine,restaurant_features,Ratings
0,0,Heliopolis,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,5
1,0,Haram,1,['Burgers' 'Sandwiches' 'Fast Food'],['No Smoking Area' 'Outdoor' 'WiFi' 'Kids-Frie...,4
2,0,Maadi,3,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Khorogat Iftar' 'Catering'],4
3,0,Faisal,1,['Pizza' 'Fast Food'],['24 hrs'],1
4,0,Maadi,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Khorogat Iftar' 'Catering'],4
...,...,...,...,...,...,...
79390,0,Nasr City,3,['Egyptian' 'Fast Food'],['No Smoking Area'],5
79391,0,Heliopolis,1,['Asian' 'Japanese' 'Sushi' 'Steaks'],['No Smoking Area' 'Casual Dining' 'Outdoor' '...,5
79392,1,Maadi,2,['Egyptian' 'Fast Food'],['No Smoking Area'],5
79393,0,New Cairo,3,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,4
79394,0,Mohandessin,1,['Egyptian' 'Oriental' 'Grill'],['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...,5

### 2) cuisine and restaurant_features columns are strings not list:

In [4]:
data['cuisine'] , data['restaurant_features']

(0              ['Egyptian' 'Oriental' 'Grill']
 1         ['Burgers' 'Sandwiches' 'Fast Food']
 2              ['Egyptian' 'Oriental' 'Grill']
 3                        ['Pizza' 'Fast Food']
 4              ['Egyptian' 'Oriental' 'Grill']
                          ...
 79390                 ['Egyptian' 'Fast Food']
 79391    ['Asian' 'Japanese' 'Sushi' 'Steaks']
 79392                 ['Egyptian' 'Fast Food']
 79393          ['Egyptian' 'Oriental' 'Grill']
 79394          ['Egyptian' 'Oriental' 'Grill']
 Name: cuisine, Length: 79395, dtype: object,
 0        ['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...
 1        ['No Smoking Area' 'Outdoor' 'WiFi' 'Kids-Frie...
 2          ['No Smoking Area' 'Khorogat Iftar' 'Catering']
 3                                               ['24 hrs']
 4          ['No Smoking Area' 'Khorogat Iftar' 'Catering']
                                ...
 79390                                  ['No Smoking Area']
 79391    ['No Smoking Area' 'Casual Dining' 'Outdoor' '...
 79392                                  ['No Smoking Area']
 79393    ['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...
 79394    ['No Smoking Area' 'Outdoor' 'TV' 'WiFi' 'Gril...
 Name: restaurant_features, Length: 79395, dtype: object)

### Make function convert these columns:

In [5]:
def StrToList(s):
    s = s.apply(lambda x : x[1:-1].replace("' '", ","))
    s = s.apply(lambda x : x.replace("'",""))
    s = s.apply(lambda x : x.lower())
    s = s.apply(lambda x: x.split(","))
    return s

### Update columns:

In [6]:
data['cuisine']=StrToList(data['cuisine'])
data['restaurant_features']=StrToList(data['restaurant_features'])

### Make function check for errors in column:

In [7]:
def catch_err(s):
    mr = []
    for i in range(len(s)):
        for j in range(len(s[i])):
            if "[" in s[i][j]:
                mr.append(i)
    mr=pd.Series(mr)
    return mr

### Get unique errors

In [8]:
catch_err(data['restaurant_features'])

0      1654
1      5715
2      6067
3      6913
4      6987
5      7325
6      7432
7     13927
8     14058
9     16706
10    17226
11    28580
12    35833
13    36389
14    36611
15    42445
16    47525
17    53769
18    61754
19    75166
20    76451
21    79388
dtype: int64

In [9]:
errors = pd.concat([catch_err(data['cuisine']),catch_err(data['restaurant_features'])]).unique()
print("Num of errors=",len(errors))
print("Num of data=",len(data))
print("% of error=",(len(errors)/len(data))/100)

Num of errors= 22
Num of data= 79395
% of error= 2.7709553498331127e-06

#### Small num or errors we can just drop them

In [10]:
data = data.drop(errors)

### Reset the index of Data:

In [11]:
data.reset_index(drop=True , inplace=True)

### Check the unique values

In [12]:
cu = pd.Series([x for l in data['cuisine'] for x in l]).unique()
cu

array(['egyptian', 'oriental', 'grill', 'burgers', 'sandwiches',
       'fast food', 'pizza', 'bakeries and pastries', 'foul we ta3meya',
       'desserts', 'chicken', 'syrian', 'international', 'vegetarian',
       'koshary', 'german', 'american', 'asian', 'chinese', 'italian',
       'seafood', 'tarts and chocolates', 'coffee & drinks', 'french',
       'steaks', 'japanese', 'sushi', 'lebanese', 'tex-mex', 'turkish',
       'indian', 'european', 'mexican', 'thai', 'spanish', 'argentinian'],
      dtype=object)

In [13]:
ru = pd.Series([x for l in data['restaurant_features'] for x in l]).unique()
ru

array(['no smoking area', 'outdoor', 'tv', 'wifi', 'grill', 'catering',
       'kids-friendly', 'playground', '24 hrs', 'khorogat iftar',
       'breakfast', 'work or study', 'coffeeshops', 'sohour w khorouga',
       'cheap eats', 'casual dining', 'drive-ins',
       'khorogat iftar\r\n breakfast', 'hidden gems',
       'post fetar hangouts', 'food with a view\r\n nile/sea view',
       'alcohol', 'food with a view', 'pet friendly',
       'coffeeshops\r\n coffee places', 'playground\r\n food with a view',
       'nile/sea view', 'iftar', 'open during day', 'romantic',
       'street food', 'breakfast\r\n catering', '24 hrs\r\n breakfast',
       'khorogat iftar\r\n sohour w khorouga', 'fancy dining',
       'playground\r\n breakfast', 'kids-friendly\r\n grill',
       'playground\r\n post fetar hangouts', 'catering\r\n work or study',
       'breakfast in sahel\r\n work or study',
       'khorogat iftar\r\n kids-friendly',
       'khorogat iftar\r\n playground', 'live music',
       'sohour w khorouga\r\n iftar open buffet', 'shisha',
       'sokhna seafood', 'pride of alex',
       'food with a view\r\n breakfast', 'coffee places',
       'breakfast in sahel', 'ramadan tents\r\n ramadan fel hussein',
       'playground\r\n sohour w khorouga'], dtype=object)

### Clear the /r/n in restaurant_features column:

In [14]:
restaurant_temp = data['restaurant_features']

In [15]:
restaurant_temp = restaurant_temp.apply(lambda x : str(x))
restaurant_temp = restaurant_temp.apply(lambda x : x.replace("\\r\\n" , ","))
restaurant_temp = restaurant_temp.apply(lambda x : x.replace("'" , ""))
restaurant_temp = restaurant_temp.apply(lambda x : x.replace(" ",""))
data['restaurant_features'] = restaurant_temp.apply(lambda x : x[1:-1].split(","))

### Recheck unique values in restaurant_features:

In [16]:
ru = pd.Series([x for l in data['restaurant_features'] for x in l]).unique()
ru

array(['nosmokingarea', 'outdoor', 'tv', 'wifi', 'grill', 'catering',
       'kids-friendly', 'playground', '24hrs', 'khorogatiftar',
       'breakfast', 'workorstudy', 'coffeeshops', 'sohourwkhorouga',
       'cheapeats', 'casualdining', 'drive-ins', 'hiddengems',
       'postfetarhangouts', 'foodwithaview', 'nile/seaview', 'alcohol',
       'petfriendly', 'coffeeplaces', 'iftar', 'openduringday',
       'romantic', 'streetfood', 'fancydining', 'breakfastinsahel',
       'livemusic', 'iftaropenbuffet', 'shisha', 'sokhnaseafood',
       'prideofalex', 'ramadantents', 'ramadanfelhussein'], dtype=object)

### Convert all columns to dummies data frames:

In [17]:
area_dumm = pd.get_dummies(data['area'])
cuisine_dumm = pd.get_dummies(data['cuisine'].apply(pd.Series).stack()).groupby(level=0).sum()
rest_f_dumm = pd.get_dummies(data['restaurant_features'].apply(pd.Series).stack()).groupby(level=0).sum()

### Recombine all dummies data frames in 1 Data frame:

In [18]:
f_data = pd.concat([data['discounted'] , area_dumm , data['nOrders'] , cuisine_dumm , rest_f_dumm , data['Ratings']], axis=1)
f_data

,discounted,6th of October,Abbassiya,Agouza,Ain Shams,Al Katameya,Al Mokatam,Al Raml Station,Al Rehab City,Al Shatby,...,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy,Ratings
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,5
79370,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,4
79372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5

# THIS IS THE FINAL DATA FRAME:

In [19]:
f_data

,discounted,6th of October,Abbassiya,Agouza,Ain Shams,Al Katameya,Al Mokatam,Al Raml Station,Al Rehab City,Al Shatby,...,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy,Ratings
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,5
79370,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,4
79372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5

# Define X,Y and split data

In [33]:
#X,Y
X = f_data.drop('Ratings' , axis=1)
Y = np.zeros((len(data),5))
for i in range(len(data)):
    Y[i, f_data['Ratings'][i]-1]=1
#Train , Test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 215)

### X:

In [38]:
X

,discounted,6th of October,Abbassiya,Agouza,Ain Shams,Al Katameya,Al Mokatam,Al Raml Station,Al Rehab City,Al Shatby,...,ramadanfelhussein,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
79370,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
79372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

### Y:

In [39]:
Y

array([[0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

### Train and test lengths:

In [40]:
print("length Train" , len(X_train))
print("length Test" , len(X_test))

length Train 63498
length Test 15875

# Make the structure of the model:

In [58]:
model=keras.models.Sequential([
    keras.layers.InputLayer(input_shape=(118)),
    keras.layers.Dense(30,activation='relu'),
    keras.layers.Dense(5, activation='softmax')

])

# Optimizer , compile and fitting of the model:

In [70]:
optimizer=tf.keras.optimizers.Adam(0.001)
es = EarlyStopping(monitor='accuracy' , mode='max' , patience=5)
model.compile(optimizer='adam' , loss=tf.keras.losses.categorical_crossentropy ,metrics=['accuracy'])
model.fit(X_train,Y_train, epochs=100 , callbacks=[es])

Epoch 1/100
1985/1985 [==============================] - 3s 1ms/step - loss: 0.0042 - accuracy: 0.9985
Epoch 2/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0041 - accuracy: 0.9986
Epoch 3/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0041 - accuracy: 0.9985
Epoch 4/100
1985/1985 [==============================] - 3s 1ms/step - loss: 0.0039 - accuracy: 0.9984
Epoch 5/100
1985/1985 [==============================] - 3s 2ms/step - loss: 0.0040 - accuracy: 0.9984
Epoch 6/100
1985/1985 [==============================] - 4s 2ms/step - loss: 0.0039 - accuracy: 0.9984
Epoch 7/100
1985/1985 [==============================] - 3s 2ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 8/100
1985/1985 [==============================] - 3s 2ms/step - loss: 0.0039 - accuracy: 0.9986
Epoch 9/100
1985/1985 [==============================] - 3s 1ms/step - loss: 0.0038 - accuracy: 0.9985
Epoch 10/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0039 - accuracy: 0.9986
Epoch 11/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 12/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 13/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0039 - accuracy: 0.9986
Epoch 14/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9985
Epoch 15/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9985
Epoch 16/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9985
Epoch 17/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0037 - accuracy: 0.9986
Epoch 18/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0039 - accuracy: 0.9985
Epoch 19/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 20/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0039 - accuracy: 0.9987
Epoch 21/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 22/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0036 - accuracy: 0.9985
Epoch 23/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0038 - accuracy: 0.9986
Epoch 24/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0037 - accuracy: 0.9986
Epoch 25/100
1985/1985 [==============================] - 2s 1ms/step - loss: 0.0037 - accuracy: 0.9986

## Check the Test data:

In [64]:
model.evaluate(X_test,Y_test)

497/497 [==============================] - 1s 975us/step - loss: 0.0052 - accuracy: 0.9987

# Accuracy(Train) is not >>>>>> Accuracy(Test)
## There's no overfitting
### #Done