In [76]:
import pandas as pd
import numpy as np

In [118]:
data = pd.read_pickle('final6.pkl')

In [119]:

for i in range(len(data)):
    for j in range(len(data['restaurant_features'][i])):
        if "[" in data['restaurant_features'][i][j]:
            print('error')

In [120]:
data = data.drop('restaurant_uuid' , axis=1)

In [121]:
for i in range(len(data)):
    data['cuisine'][i]= [x.lower() for x in data['cuisine'][i] ]

C:\Users\dell\AppData\Local\Temp\ipykernel_3616\2333435313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cuisine'][i]= [x.lower() for x in data['cuisine'][i] ]

In [122]:
for i in range(len(data)):
    data['restaurant_features'][i]= [x.lower() for x in data['restaurant_features'][i] ]

C:\Users\dell\AppData\Local\Temp\ipykernel_3616\599891536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['restaurant_features'][i]= [x.lower() for x in data['restaurant_features'][i] ]

In [123]:
cf = pd.Series([x for l in data['cuisine'] for x in l])

In [124]:
cf = cf.unique()

In [125]:
a = data['restaurant_features']

In [126]:
a = a.apply(lambda x : str(x))

In [127]:
a = a.apply(lambda x : x.replace("\\r\\n" , ","))

In [128]:
a.unique()

array(["['no smoking area', 'outdoor', 'tv', 'wifi', 'grill', 'catering']",
       "['no smoking area', 'outdoor', 'wifi', 'kids-friendly', 'playground', '24 hrs']",
       "['no smoking area', 'khorogat iftar', 'catering']", "['24 hrs']",
       "['khorogat iftar']",
       "['no smoking area', 'breakfast', 'work or study', 'coffeeshops']",
       "['no smoking area', 'tv', 'wifi']", "['no smoking area']",
       "['outdoor']",
       "['outdoor', 'tv', 'breakfast', 'sohour w khorouga', 'catering', 'cheap eats']",
       "['outdoor', '24 hrs']", "['outdoor', 'catering']",
       "['no smoking area', 'outdoor', 'tv', 'wifi', 'khorogat iftar']",
       "['outdoor', 'khorogat iftar', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor']",
       "['no smoking area', 'casual dining', 'outdoor', 'catering']",
       "['no smoking area', 'wifi', 'cheap eats']",
       "['outdoor', 'tv', 'drive-ins', 'cheap eats']",
       "['outdoor', 'drive-ins', 'catering', 'cheap eats']",
       "['no smoking area', 'outdoor', 'tv', 'khorogat iftar', 'catering', 'cheap eats']",
       "['outdoor', 'tv', 'khorogat iftar', 'catering']",
       "['outdoor', 'tv', 'khorogat iftar']", "['outdoor', 'tv', 'wifi']",
       "['no smoking area', 'casual dining', 'outdoor', 'khorogat iftar', 'catering']",
       "['outdoor', 'tv', 'cheap eats']",
       "['casual dining', 'outdoor', 'breakfast', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'wifi', 'khorogat iftar, breakfast', 'sohour w khorouga']",
       "['outdoor', 'tv', 'wifi', 'grill', 'catering']",
       "['no smoking area', 'outdoor', 'breakfast', 'sohour w khorouga', 'cheap eats']",
       "['no smoking area', 'outdoor', 'catering', 'work or study', 'coffeeshops']",
       "['no smoking area', 'outdoor', 'cheap eats']",
       "['outdoor', 'khorogat iftar']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv']",
       "['no smoking area', 'casual dining', '24 hrs', 'hidden gems']",
       "['no smoking area', 'outdoor', 'post fetar hangouts']",
       "['no smoking area', 'cheap eats']",
       "['no smoking area', 'outdoor']", "['outdoor', 'tv']",
       "['no smoking area', 'casual dining', 'outdoor', 'food with a view, nile/sea view']",
       "['catering']",
       "['casual dining', 'outdoor', 'breakfast', 'alcohol']",
       "['no smoking area', 'casual dining', 'outdoor', 'kids-friendly', 'breakfast']",
       "['tv', 'khorogat iftar', 'catering']",
       "['no smoking area', 'tv', 'khorogat iftar']",
       "['casual dining', 'outdoor', 'alcohol']", "['tv']",
       "['khorogat iftar', 'sohour w khorouga', 'catering', 'cheap eats']",
       "['no smoking area', 'outdoor', 'hidden gems', 'cheap eats']",
       "['24 hrs', 'drive-ins']",
       "['outdoor', 'tv', 'food with a view', 'catering']",
       "['no smoking area', 'outdoor', 'tv', 'khorogat iftar', 'grill']",
       "['no smoking area', 'tv']",
       "['outdoor', 'wifi', 'breakfast', 'pet friendly', 'work or study']",
       "['no smoking area', 'outdoor', 'tv', 'wifi']",
       "['no smoking area', 'khorogat iftar']",
       "['no smoking area', 'outdoor', 'wifi']",
       "['outdoor', 'tv', 'wifi', 'kids-friendly', 'playground', '24 hrs']",
       "['casual dining', 'outdoor', 'tv', 'breakfast', 'catering']",
       "['outdoor', 'wifi', 'kids-friendly']",
       "['no smoking area', 'casual dining', 'outdoor', 'wifi', 'catering']",
       "['outdoor', 'cheap eats']", "['khorogat iftar', '24 hrs']",
       "['no smoking area', 'outdoor', 'tv', 'kids-friendly', 'playground']",
       "['24 hrs', 'cheap eats']",
       "['no smoking area', 'casual dining', 'outdoor', 'wifi']",
       "['outdoor', 'breakfast']",
       "['casual dining', 'outdoor', 'wifi', 'catering']",
       "['casual dining', 'khorogat iftar', 'post fetar hangouts']",
       "['no smoking area', 'tv', 'wifi', 'breakfast', 'catering', 'work or study']",
       "['no smoking area', 'outdoor', 'catering']",
       "['no smoking area', 'outdoor', 'breakfast', 'work or study', 'coffeeshops, coffee places']",
       "['no smoking area', 'tv', 'wifi', 'playground', 'catering']",
       "['no smoking area', 'outdoor', 'wifi', 'khorogat iftar']",
       "['casual dining', 'outdoor', 'tv', 'wifi', 'breakfast']",
       "['casual dining', 'outdoor', 'tv', 'wifi', 'grill', 'playground, food with a view', 'nile/sea view', 'iftar', 'open during day']",
       "['no smoking area', 'khorogat iftar', 'kids-friendly', 'catering']",
       "['tv', 'khorogat iftar']",
       "['no smoking area', 'casual dining', 'breakfast']",
       "['outdoor', 'tv', '24 hrs', 'breakfast', 'cheap eats']",
       "['outdoor', 'tv', 'khorogat iftar', '24 hrs']",
       "['khorogat iftar', 'kids-friendly', 'catering']",
       "['outdoor', 'tv', 'catering', 'cheap eats']",
       "['khorogat iftar', 'catering']",
       "['casual dining', 'outdoor', 'breakfast', 'pet friendly', 'romantic']",
       "['outdoor', 'wifi', 'street food', 'cheap eats']",
       "['no smoking area', 'outdoor', 'khorogat iftar', 'nile/sea view']",
       "['wifi', 'khorogat iftar']",
       "['casual dining', 'outdoor', 'catering']",
       "['no smoking area', 'outdoor', 'tv', 'khorogat iftar']",
       "['no smoking area', 'casual dining']",
       "['casual dining', 'outdoor', 'wifi', 'breakfast', 'hidden gems', 'pet friendly']",
       "['casual dining', 'outdoor', 'wifi', 'breakfast']",
       "['no smoking area', 'casual dining', 'hidden gems']",
       "['catering', 'cheap eats']",
       "['no smoking area', 'outdoor', 'tv', 'wifi', 'khorogat iftar', 'breakfast, catering']",
       "['no smoking area', 'casual dining', 'catering']",
       "['outdoor', 'tv', 'wifi', 'playground', 'nile/sea view']",
       "['casual dining', 'wifi', 'catering']",
       "['no smoking area', 'outdoor', 'tv', 'khorogat iftar', 'grill', 'breakfast']",
       "['tv', 'catering']",
       "['no smoking area', 'casual dining', 'wifi', 'kids-friendly', '24 hrs, breakfast', 'catering']",
       "['khorogat iftar', 'grill']", "['outdoor', 'tv', '24 hrs']",
       "['no smoking area', 'outdoor', '24 hrs']",
       "['khorogat iftar', 'breakfast', 'sohour w khorouga', 'cheap eats']",
       "['no smoking area', 'casual dining', 'tv', 'catering']",
       "['outdoor', 'pet friendly']",
       "['casual dining', 'outdoor', 'tv']",
       "['no smoking area', 'casual dining', 'tv', 'khorogat iftar, sohour w khorouga']",
       "['fancy dining', 'romantic', 'alcohol']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'wifi', 'alcohol']",
       "['outdoor', 'khorogat iftar', 'catering', 'cheap eats']",
       "['casual dining', 'tv', 'wifi', 'khorogat iftar']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar', 'sohour w khorouga', 'cheap eats']",
       "['breakfast', 'catering', 'street food']",
       "['tv', 'wifi', 'khorogat iftar']",
       "['outdoor', 'tv', 'wifi', 'pet friendly']",
       "['casual dining', 'wifi', 'catering', 'alcohol']",
       "['outdoor', 'wifi', '24 hrs', 'breakfast', 'catering']",
       "['outdoor', 'drive-ins', 'cheap eats']", "['24 hrs', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor', 'wifi', 'playground, breakfast']",
       "['outdoor', 'khorogat iftar', 'sohour w khorouga']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar', 'kids-friendly', 'playground']",
       "['24 hrs', 'breakfast', 'cheap eats']",
       "['no smoking area', 'outdoor', 'wifi', 'khorogat iftar', 'kids-friendly, grill']",
       "['tv', 'wifi', 'catering', 'post fetar hangouts']",
       "['outdoor', '24 hrs', 'breakfast']",
       "['casual dining', 'catering']",
       "['no smoking area', 'outdoor', 'khorogat iftar', 'sohour w khorouga']",
       "['sohour w khorouga']", "['outdoor', 'khorogat iftar', 'grill']",
       "['grill']", "['tv', 'wifi', 'khorogat iftar', 'catering']",
       "['no smoking area', 'outdoor', 'tv', 'wifi', 'khorogat iftar', 'playground, post fetar hangouts']",
       "['outdoor', 'tv', 'kids-friendly', 'playground']",
       "['tv', 'kids-friendly', 'playground']",
       "['outdoor', 'khorogat iftar', 'post fetar hangouts']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'wifi', 'catering, work or study']",
       "['nile/sea view']", "['outdoor', 'street food']",
       "['no smoking area', 'tv', 'catering']",
       "['outdoor', 'khorogat iftar', '24 hrs']",
       "['no smoking area', 'casual dining', 'wifi', 'catering']",
       "['no smoking area', 'hidden gems', 'catering', 'fancy dining', 'romantic']",
       "['outdoor', 'tv', 'khorogat iftar', 'breakfast', 'cheap eats']",
       "['playground', 'catering', 'alcohol']", "['casual dining']",
       "['breakfast', 'post fetar hangouts']",
       "['no smoking area', 'outdoor', 'khorogat iftar', 'catering']",
       "['casual dining', 'tv', 'hidden gems', 'catering']",
       "['outdoor', 'kids-friendly', 'catering']",
       "['khorogat iftar', 'sohour w khorouga']",
       "['outdoor', 'wifi', 'khorogat iftar', 'pet friendly']",
       "['wifi']", "['pet friendly']",
       "['no smoking area', 'outdoor', 'wifi', 'breakfast', 'breakfast in sahel, work or study', 'coffeeshops']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'khorogat iftar, kids-friendly', 'playground']",
       "['outdoor', 'tv', 'hidden gems', 'drive-ins']",
       "['casual dining', 'outdoor']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'khorogat iftar, playground']",
       "['khorogat iftar', '24 hrs', 'sohour w khorouga']",
       "['cheap eats']", "['outdoor', 'kids-friendly']",
       "['outdoor', 'tv', 'kids-friendly', 'pet friendly']",
       "['outdoor', 'wifi', 'romantic', 'alcohol', 'live music']",
       "['casual dining', 'hidden gems']",
       "['outdoor', 'wifi', 'khorogat iftar', 'food with a view', 'nile/sea view']",
       "['outdoor', 'catering', 'post fetar hangouts']",
       "['casual dining', 'outdoor', 'tv', 'wifi']",
       "['no smoking area', 'outdoor', 'tv']",
       "['outdoor', 'tv', 'food with a view', 'nile/sea view', 'sohour w khorouga, iftar open buffet']",
       "['no smoking area', 'outdoor', 'wifi', 'kids-friendly']",
       "['tv', 'playground', 'food with a view', 'shisha', 'alcohol', 'sokhna seafood']",
       "['outdoor', 'tv', 'food with a view', 'nile/sea view', 'romantic']",
       "['24 hrs', 'pride of alex']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar']",
       "['casual dining', 'outdoor', 'tv', 'wifi', 'kids-friendly', 'playground, post fetar hangouts']",
       "['khorogat iftar', 'breakfast', 'sohour w khorouga', 'catering']",
       "['no smoking area', 'nile/sea view', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor', 'food with a view, breakfast']",
       "['sohour w khorouga', 'catering', 'cheap eats']",
       "['outdoor', 'tv', 'kids-friendly', 'breakfast', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'wifi', 'khorogat iftar, breakfast', 'catering']",
       "['no smoking area', 'casual dining', 'outdoor', 'breakfast', 'coffee places']",
       "['hidden gems']",
       "['casual dining', 'outdoor', 'tv', 'wifi', 'playground', 'food with a view, nile/sea view', 'breakfast', 'catering', 'breakfast in sahel']",
       "['no smoking area', 'outdoor', 'tv', 'wifi', 'pet friendly']",
       "['outdoor', 'drive-ins']",
       "['outdoor', 'tv', 'wifi', 'pet friendly', 'shisha']",
       "['sohour w khorouga', 'cheap eats']",
       "['kids-friendly', 'playground', '24 hrs']",
       "['khorogat iftar', 'breakfast']",
       "['no smoking area', 'sohour w khorouga']",
       "['outdoor', 'tv', 'shisha']", "['tv', 'wifi', 'playground']",
       "['tv', 'wifi', 'post fetar hangouts', 'pride of alex']",
       "['tv', 'food with a view', 'pet friendly', 'ramadan tents, ramadan fel hussein', 'breakfast in sahel']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar', 'sohour w khorouga', 'shisha']",
       "['outdoor', 'nile/sea view']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar', 'kids-friendly', 'playground, sohour w khorouga']",
       "['khorogat iftar', 'kids-friendly']",
       "['no smoking area', 'casual dining', 'outdoor', 'tv', 'wifi', 'breakfast']",
       "['outdoor', 'tv', 'catering']",
       "['outdoor', 'tv', 'wifi', 'khorogat iftar', 'kids-friendly', 'catering']",
       "['tv', 'wifi']", "['outdoor', 'khorogat iftar', 'breakfast']",
       "['wifi', 'sohour w khorouga']", "['casual dining', 'breakfast']",
       "['breakfast']"], dtype=object)

In [129]:
a = a.apply(lambda x : x.replace("'" , ""))

In [130]:
a

0        [no smoking area, outdoor, tv, wifi, grill, ca...
1        [no smoking area, outdoor, wifi, kids-friendly...
2              [no smoking area, khorogat iftar, catering]
3                                                 [24 hrs]
4              [no smoking area, khorogat iftar, catering]
                               ...
79368                                    [no smoking area]
79369    [no smoking area, casual dining, outdoor, wifi...
79370                                    [no smoking area]
79371    [no smoking area, outdoor, tv, wifi, grill, ca...
79372    [no smoking area, outdoor, tv, wifi, grill, ca...
Name: restaurant_features, Length: 79373, dtype: object

In [131]:
a = a.apply(lambda x : x.replace(" ",""))

In [132]:
a = a.apply(lambda x : x[1:-1].split(","))

In [133]:
data['restaurant_features'] = a

In [134]:
rf = pd.Series([x for l in data['restaurant_features'] for x in l])

In [136]:
rf = rf.unique()

In [137]:
cf

array(['egyptian', 'oriental', 'grill', 'burgers', 'sandwiches',
       'fast food', 'pizza', 'bakeries and pastries', 'foul we ta3meya',
       'desserts', 'chicken', 'syrian', 'international', 'vegetarian',
       'koshary', 'german', 'american', 'asian', 'chinese', 'italian',
       'seafood', 'tarts and chocolates', 'coffee & drinks', 'french',
       'steaks', 'japanese', 'sushi', 'lebanese', 'tex-mex', 'turkish',
       'indian', 'european', 'mexican', 'thai', 'spanish', 'argentinian'],
      dtype=object)

In [143]:
u = pd.get_dummies(data['area'])

In [158]:
data= data.drop('user_uuid' , axis=1)

In [165]:
c =pd.get_dummies(data.apply(pd.Series).stack()).sum(level=0)

TypeError: unhashable type: 'list'

In [160]:
c = pd.get_dummies(data['restaurant_features'].apply(pd.Series).stack()).sum(level=0)

C:\Users\dell\AppData\Local\Temp\ipykernel_3616\1276194480.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  f= pd.get_dummies(data['restaurant_features'].apply(pd.Series).stack()).sum(level=0)

In [161]:
a = pd.get_dummies(data['area'])

In [163]:
data.head(1654)

,discounted,area,nOrders,cuisine,restaurant_features,Ratings
0,0,Heliopolis,1,"[egyptian, oriental, grill]","[nosmokingarea, outdoor, tv, wifi, grill, cate...",5
1,0,Haram,1,"[burgers, sandwiches, fast food]","[nosmokingarea, outdoor, wifi, kids-friendly, ...",4
2,0,Maadi,3,"[egyptian, oriental, grill]","[nosmokingarea, khorogatiftar, catering]",4
3,0,Faisal,1,"[pizza, fast food]",[24hrs],1
4,0,Maadi,1,"[egyptian, oriental, grill]","[nosmokingarea, khorogatiftar, catering]",4
...,...,...,...,...,...,...
1649,0,Downtown,1,"[egyptian, koshary]","[nosmokingarea, outdoor, hiddengems, cheapeats]",3
1650,0,Nasr City,1,"[oriental, sandwiches, fast food, vegetarian]","[nosmokingarea, wifi, cheapeats]",4
1651,1,Dokki,1,"[egyptian, sandwiches, foul we ta3meya]","[nosmokingarea, outdoor, breakfast, sohourwkho...",1
1652,0,Maadi,1,"[pizza, american]",[nosmokingarea],4
1653,0,Al Rehab City,1,"[oriental, syrian]","[outdoor, tv, khorogatiftar, catering]",2

In [164]:
c

,american,argentinian,asian,bakeries and pastries,burgers,chicken,chinese,coffee & drinks,desserts,egyptian,...,seafood,spanish,steaks,sushi,syrian,tarts and chocolates,tex-mex,thai,turkish,vegetarian
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79369,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
79370,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79371,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79372,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [166]:
f

,24hrs,alcohol,breakfast,breakfastinsahel,casualdining,catering,cheapeats,coffeeplaces,coffeeshops,drive-ins,...,ramadanfelhussein,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79369,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
79370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79371,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
79372,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [167]:
a

,6th of October,Abbassiya,Agouza,Ain Shams,Al Katameya,Al Mokatam,Al Raml Station,Al Rehab City,Al Shatby,Alexandria Desert Road,...,New Cairo,Ras Sudr,Semouha,Sheikh Zayed,Shoubra,Sidi Beshr Mohamed Naguib,Smart Village,Sporting,Stanley,Zamalek
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79371,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
79372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [173]:
final = c

In [174]:
final

,american,argentinian,asian,bakeries and pastries,burgers,chicken,chinese,coffee & drinks,desserts,egyptian,...,seafood,spanish,steaks,sushi,syrian,tarts and chocolates,tex-mex,thai,turkish,vegetarian
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79369,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
79370,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79371,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79372,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [175]:
final.append(f)

C:\Users\dell\AppData\Local\Temp\ipykernel_3616\3389389595.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final.append(f)

,american,argentinian,asian,bakeries and pastries,burgers,chicken,chinese,coffee & drinks,desserts,egyptian,...,ramadanfelhussein,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
79370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
79372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [179]:
final = pd.concat([data['discounted'] , a , data['nOrders'] , c , f , data['Ratings']], axis=1)

In [180]:
final

,discounted,6th of October,Abbassiya,Agouza,Ain Shams,Al Katameya,Al Mokatam,Al Raml Station,Al Rehab City,Al Shatby,...,ramadantents,romantic,shisha,sohourwkhorouga,sokhnaseafood,streetfood,tv,wifi,workorstudy,Ratings
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,5
79370,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
79371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,4
79372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,5

In [183]:
final.to_pickle('wallahifinal2.pkl')

In [187]:
X = final.drop('Ratings' , axis=1)

In [189]:
X.shape

(79373, 118)

In [190]:
Y = final['Ratings']

0        5
1        4
2        4
3        1
4        4
        ..
79368    5
79369    5
79370    5
79371    4
79372    5
Name: Ratings, Length: 79373, dtype: int64

In [193]:
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'